body {
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

#journal {
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

#pages {
    display: flex;
    flex-grow: 1;
    background-image: url('nui://Shatner_Notebooks/ui/book_background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.page {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    max-width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

#left-page {
    border-right: 1px dotted rgba(85, 41, 22, 0.7);
}

.ql-editor {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(37, 21, 14, 0.7);
    height: calc(100% - 40px);
    overflow-y: auto;
    background-color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: hidden;
}

.ql-editor p {
    margin-bottom: 10px;
}

.ql-container {
    height: 100% !important;
    width: 100% !important;
}

.ql-editor img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.page-corner {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    cursor: pointer;
}

#left-corner {
    left: 0;
    border-top-right-radius: 10px;
}

#right-corner {
    right: 0;
    border-top-left-radius: 10px;
}

.page-corner:hover {
    background-color: rgba(58, 40, 15, 0.1);
}

.page-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: rgba(85, 41, 22, 0.7);
    background-color: transparent;
    padding: 2px 8px;
    border-radius: 8px;
}

#controls {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: transparent;
}

button {
    background-color: rgba(243, 236, 233, 0.7);
    color: #3a280f;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(85, 41, 22, 0.7);
    color: #f3ece9;
}

.ql-toolbar {
    background-color: transparent;
    border-color: transparent !important;
}

.ql-toolbar button {
    color: rgba(196, 152, 72, 0.7) !important;
}

.ql-toolbar button:hover {
    color: #3f2304 !important;
}